<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unityx.damath">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/planet_damath"
        android:label="@string/app_name"
        android:roundIcon="@drawable/planet_damath"
        android:supportsRtl="true"
        android:theme="@style/Theme.Damath.NoActionBarAndStatusBar"
        tools:targetApi="32">
        <activity
            android:name=".Damath.Operation.DamathCalculator"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Fraction.PinkDamathFractionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Fraction.BlueDamathFractionActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Fraction.FractionRoomActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Polynomial.PinkDamathPolynomialActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Polynomial.BlueDamathPolynomialActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Polynomial.PolynomialRoomActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Radical.DamathRoomActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.GameModeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Radical.PinkDamathRadicalActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Damath.GameMode.Radical.BlueDamathRadicalActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainMenu.LeaderboardsActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu.HowToPlayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu.CustomizeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainMenu.UserProfileActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User.RegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".User.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashDamath"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashUnityX"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>